 <ion-header> 
  <ion-navbar color="MintCream">
    <ion-title>
      修改登录密码
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content> 
    <ion-row  style="margin-top: 25px"> 
        <ion-col col-1 text-left no-padding  style="margin-left: 25px;">
            <img src="assets/img/login/phone.png">
        </ion-col>
        <ion-col col-7 text-left style="font-size: 15px; color: gray;" class="item item-input">
            {{twomobile}}
        </ion-col>  
    </ion-row> 

    <ion-row style="margin-left: 25px;margin-right:25px;"class=" height-backgroundcolor2" ></ion-row>

    <ion-row>
        <ion-col col-7  style="font-size: 15px; color: gray;margin-left:25px" class="item item-input">
            <ion-input type="text"  [(ngModel)]="picnum" placeholder="图片验证码"></ion-input>
        </ion-col> 
        <ion-col text-center>
            <img src="assets/img/login/图片验证码.png">
        </ion-col> 
    </ion-row>

    <ion-row style="margin-left: 25px;margin-right:25px;"class=" height-backgroundcolor2" ></ion-row>    

    <ion-row>
            <ion-col col-7  style="font-size: 15px; color: gray;margin-left:25px" class="item item-input">
                <ion-input type="text"  [(ngModel)]="wordnum" placeholder="短信验证码"></ion-input>
            </ion-col> 
            <ion-col class="line-height-52" text-center style="color: rgb(170, 10, 10); ">
                获取验证码
            </ion-col>
        </ion-row>

        <ion-row style="margin-left: 25px;margin-right:25px;"class=" height-backgroundcolor2" ></ion-row>

    <ion-row>  
        <ion-col col-4 class="line-height-52" style="margin-left:20px">
            设置登录密码
        </ion-col> 
        <ion-col col-7 class="line-height-52" style="font-size: 15px; color: gray;" class="item item-input">
            <ion-input  type="password" [(ngModel)]="password" placeholder="8位以上，数字+字母大小写"></ion-input>
        </ion-col> 
    </ion-row> 
    <ion-row style="margin-left: 25px;margin-right:25px;"class=" height-backgroundcolor2" ></ion-row>
    <ion-row padding-top>
        <ion-col  text-center *ngIf="picnum&&wordnum&&password"  (click)="Open('overlay2')" style="background:rgb(170, 10, 10);color:white; font-size: 20px;margin-left: 25px;margin-right:25px;margin-top: 20px;border-radius:5px;">
            提交
        </ion-col>
        <ion-col  text-center *ngIf="!(picnum&&wordnum&&password)"  style="background:lightgray;color:white; font-size: 20px;margin-left: 25px;margin-right:25px;margin-top: 20px;border-radius:5px;">
           提交
        </ion-col>
    </ion-row>
</ion-content>


<div id="overlay2" style="height:50%;width:80%" class="aq-common-overlay aq-border-radius-5">
    <ion-row>
        <ion-col text-center style="margin:20px;color: rgb(170, 10, 10); font-size: 18px">
            修改成功
        </ion-col>
    </ion-row>
    <ion-row padding-bottom>
        <ion-col  text-center style="padding:0px;background:rgb(170, 10, 10);color:white; font-size: 20px;margin-left: 5px;margin-right:5px;margin-bottom: 5px;border-radius:5px" (click)="en()">
            去登录
        </ion-col>
    </ion-row>
</div>

<div *ngIf="back" class="aq-overlay-backdrop" (click)="en()"></div>
 
  
  