Page-EnterpriseNews {
    .Border-bottom-pink {
    border-bottom: 3px solid #FE91C2;
    } // 粉色下边框长度
    .BorderWidth {
    padding-top: 20px;
    height: 55px;
    width: 40px;
    }
    .width-height-80{
    width: 80px;
    height: 80px;
    }
    .text-color{
    color: red;
    }
    }