<ion-header>
    <ion-navbar color="light">
        <ion-title>月月盈Z5414</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="background">
    <ion-row style="background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#cb2d3e), to(#f12d1f)) !important;">
        <ion-col text-center style="margin-top:3%">
            <ion-row>
                <ion-col style="font-size:15px;color:white;">
                    昨日收益（元）
                </ion-col>
            </ion-row>
            <ion-row style="margin-top:0.5%;">
                <ion-col text-center style="font-size:45px;color:white;">
                    2.46
                </ion-col>
            </ion-row>
            <ion-row style="margin-top:0.5%;">
                <ion-col text-center style="font-size:15px;color:white;">
                    总金额23000元
                </ion-col>
            </ion-row>
            <ion-row style="margin-top:10px;">
                <ion-col>
                    <ion-row>
                        <ion-col style="position:relative;left:40px;font-size:14px;color:white;">
                            546
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="position:relative;left:40px;font-size:14px;color:white;">
                            预计收益（元）
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col col-0.2 text-center>
                    <img src="assets/img/Line-1.png" style="height:70%;margin-top:8%;">
                </ion-col>
                <ion-col col-49.4 text-left>
                    <ion-row>
                        <ion-col style="font-size:14px;color:white">
                            3.23%
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="font-size:14px;color:white;">
                            年化率
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col text-right>
            <img src="assets/img/Line-3.png" style="margin-right:-5px;">
        </ion-col>
        <ion-col text-left>
            <img src="assets/img/Line-4.png" height="30%" style="margin-left:-5px;">
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col style="font-size:10px;color:gray;margin-left:5%;">
            投资进度
        </ion-col>
    </ion-row>
    <ion-row style="margin-top:2%;">
        <img src="assets/img/Line-4.png" width="100%">
    </ion-row>

    <ion-row style="margin-top:2%;">
        <ion-col style="margin-left: 8px;color:gray;">
            购买时间
        </ion-col>
        <ion-col style="margin-left: 8px;color:gray;">
            2017年12月30日 19:20
        </ion-col>
    </ion-row>
    <ion-row style="margin-top:2%;">
        <img src="assets/img/Line.png">
    </ion-row>

    <ion-row style="margin-top:2%;">
        <ion-col style="margin-left: 8px;color:gray;">
            产品到期时间
        </ion-col>
        <ion-col style="margin-left: 8px;color:gray;">
            2018年12月30日 19:20
        </ion-col>
    </ion-row>
    <ion-row style="margin-top:2%;">
        <img src="assets/img/Line.png">
    </ion-row>

    <ion-row>
        <br/>
    </ion-row>
    <ion-row style="width:400px;height:40px;margin-top: 2px;">
        <ion-col col-1 text-center style="height:18px;margin-left:6px;">
            <img src="assets/img/tu.png" height="18px">
        </ion-col>
        <ion-col col-7 text-left style="font-size:14px;color:gray;">
            为您推荐
        </ion-col>
    </ion-row>
    <ion-item>
        <ion-row>
            <ion-col col-5>
                <p class="text-size-1" text-left>月月盈Z5414</p>
                <ion-row>
                    <p text-left class="text-color-1 text-size-5">6.6%</p>
                    <p class="text-color-1 text-size-1" style="margin-top:8px;">+1.68%</p>
                </ion-row>
                <p class="text-size-4" text-left>期望年均回报率</p>
            </ion-col>
            <ion-col col-3>
                <p class="text-size-1 text-color-1" text-center>10:00开售</p>
                <p class="text-size-5" text-center>43天</p>
                <p class="text-size-4" text-center>1000元起购</p>
            </ion-col>
            <ion-col col-4>
                <img style="float:right" src="assets/img/ProductList/Unstart.png" height="60">
            </ion-col>
        </ion-row>
    </ion-item>
    <ion-item>
        <ion-row>
            <ion-col col-5>
                <p class="text-size-1" text-left>月月盈Z5414</p>
                <ion-row>
                    <p text-left class="text-color-1 text-size-5">52.6%</p>
                    <p class="text-color-1 text-size-1" style="margin-top:8px;">+1.68%</p>
                </ion-row>
                <p class="text-size-4" text-left>期望年均回报率</p>
            </ion-col>
            <ion-col col-3>
                <p class="text-size-1 text-color-1" text-center>10:00开售</p>
                <p class="text-size-5" text-center>43天</p>
                <p class="text-size-4" text-center>1000元起购</p>
            </ion-col>
            <ion-col col-4>
                <img style="float:right" src="assets/img/ProductList/four.png" height="60">
            </ion-col>
        </ion-row>
    </ion-item>

</ion-content>

<ion-footer>
    <ion-row *ngIf="params" style="height: 20%;">
        <ion-col style="font-size:20px;background: red;color:white;">
            <ion-row style="margin-top:5%;">
                <ion-col text-center (click)="OpenOverlay89('overlay89')">
                    立即购买
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col style="background: rgb(180, 20, 20);" (click)="OpenOverlay90('overlay90')">
            <ion-row style="height: 15%;">
                <ion-col text-center style="color:white;font-size:20px;">
                    赎回
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-center style="font-size:5px;color:white;margin-top:10%;margin-bottom: -15%;">
                    注：产品到期后方可赎回提现
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>


    <ion-row *ngIf="!params" style="height: 20%;">
        <ion-col style="font-size:20px;background:rgb(87, 86, 86);color:white;">
            <ion-row style="margin-top:5%;">
                <ion-col text-center>
                    立即购买
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col style="background: rgb(160, 149, 149);">
            <ion-row style="height: 15%;">
                <ion-col text-center style="color:white;font-size:20px;">
                    赎回
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-center style="font-size:5px;color:white;margin-top:10%;margin-bottom: -15%;">
                    注：产品到期后方可赎回提现
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-footer>

<div id="overlay89" class="aq-common-overlay aq-border-radius-5">
    <ion-row>
        <ion-col text-center style="color: rgb(170, 10, 10); font-size: 18px">
            请输入金额
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-9 style="margin-top:3%;">
            <ion-input text-center class="placeholder" placeholder="请输入要购买的金额" style="font-size:16px;"></ion-input>
        </ion-col>
        <ion-col style="margin-top:7%;">
            元
        </ion-col>
    </ion-row>
    <ion-row padding-top>
        <ion-col text-center style="background:rgb(170, 10, 10);color:white; font-size: 20px;margin-left: 5px;margin-right:5px;margin-bottom: 5px;"
            (click)="CloseOverlay89()">
            确认
        </ion-col>
    </ion-row>
</div>

<div class="aq-overlay-backdrop" (click)="CloseOverlay89()"></div>

<div id="overlay90" class="aq-common-overlay aq-border-radius-5">
    <ion-row>
        <ion-col text-center style="color: rgb(170, 10, 10); font-size: 18px">
            请输入赎回的金额
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-9 style="margin-top:3%;">
            <ion-input text-center class="placeholder" placeholder="请输入要赎回的金额" style="font-size:16px;"></ion-input>
        </ion-col>
        <ion-col style="margin-top:7%;">
            元
        </ion-col>
    </ion-row>
    <ion-row padding-top>
        <ion-col text-center style="background:rgb(170, 10, 10);color:white; font-size: 20px;margin-left: 5px;margin-right:5px;
        margin-bottom: 5px;" (click)="CloseOverlay90()">
            确认
        </ion-col>
    </ion-row>
</div>

<div class="aq-overlay-backdrop" (click)="CloseOverlay90()"></div>-->