<ion-header>
    <ion-navbar>
      <ion-title>登录</ion-title>
    </ion-navbar>
  </ion-header>
  
<ion-content>
    <ion-row text-center>
        <img src="assets/img/Mine/1.png">
    </ion-row>
    <ion-row  style="margin-top: 25px;height: 43px;"> 
        <ion-col col-1 text-left no-padding  style="margin-left: 25px;">
                <img src="assets/img/login/phone.png">
        </ion-col>
        <ion-col col-7 text-left style="font-size: 15px; color: gray;" class="item item-input">
            {{onemobile}}
        </ion-col>  
    </ion-row > 
    <ion-row style="margin-left: 25px;margin-right:25px;"class=" height-backgroundcolor2" ></ion-row>
    <ion-row  style="margin-top: 25px;height: 43px;"> 
        <ion-col col-1 text-left no-padding  style="margin-left: 25px;margin-top: 13px">
            <img src="assets/img/login/lock.png" height="22" >
        </ion-col>
        <ion-col col-7 text-left style="font-size: 15px; color: gray;" class="item item-input">
                <ion-input type="{{pwshow?'text':'password'}}" [(ngModel)]='password' placeholder='请输入密码'></ion-input>
        </ion-col> 
        <ion-col text-center style="margin-top: 10px;" href="javascript:;"rel="external nofollow" item-end (click)="pwshow=!pwshow" [ngClass]="pwshow?'eyeshow':'eyehide'">
                <ion-icon name="ios-eye-off" color="dark" class="eye-hide" ></ion-icon>  <!--闭眼图标-->
                <ion-icon name="ios-eye" color="dark" class="eye-show" ></ion-icon>  <!--睁眼图标-->     
    </ion-col>    
    </ion-row> 
    <ion-row style="margin-left: 25px;margin-right:25px;"class=" height-backgroundcolor2" ></ion-row>
    <ion-row padding-top style="margin-top: 20px;">
        <ion-col  text-center *ngIf="password" (click)="goTabsPage('overlay3')" style="background:rgb(170, 10, 10);color:white; font-size: 20px;margin-left: 25px;margin-right:25px;margin-top: 20px;border-radius:5px;">
            下一步
        </ion-col>
        <ion-col  text-center *ngIf="!password"  style="background:lightgray;color:white; font-size: 20px;margin-left: 25px;margin-right:25px;margin-top: 20px;border-radius:5px;">
            下一步
        </ion-col>
    </ion-row>  
    <ion-row  style="margin-top: 15px;">
        <ion-col (click)="goModifypassword()" text-center style="color: firebrick;margin-top: 8px" >
            忘记密码？
        </ion-col>
    </ion-row>
</ion-content> 

<div id="overlay3" class="aq-common-overlay aq-border-radius-5">
    <ion-row>
        <ion-col text-center style="color: rgb(170, 10, 10); font-size: 18px">
            密码错误，重新输入！
        </ion-col>
    </ion-row>
    <ion-row padding-top>
        <ion-col  text-center style="background:rgb(170, 10, 10);color:white; font-size: 20px;margin-left: 10px;margin-right:10px;margin-bottom: 5px;border-radius:5px" (click)="enen()">
            确认
        </ion-col>
    </ion-row>
</div>

<div class="aq-overlay-backdrop" (click)="enen()"></div>