Page-Fillinpassword{
    .height-backgroundcolor2
    {
     background-color:lightgrey;
     height: 1px;
     }

     .aq-common-overlay {
        width: 75%;
        background: #fff;
        border: 0;
        opacity: 1;
        display: none;
        position: fixed;
        text-align: left;
        -webkit-transition: opacity .1s ease-in-out .1s;
        -moz-transition: opacity .1s ease-in-out .1s;
        -o-transition: opacity .1s ease-in-out .1s;
        -ms-transition: opacity .1s ease-in-out .1s;
        transition: opacity .1s ease-in-out .1s;
        z-index: 905;
        left: 50%;
        top: 50%;
        max-width: 500px;
        min-width: 200px;
        -ms-transform: translate(-50%, -50%);
        transform: translate3d(-50%, -50%, 0);
        overflow: auto;
    }
    
      .aq-overlay-backdrop {
        background: #111 none repeat scroll 0 0;
        bottom: 0;
        display: none;
        left: 0;
        opacity: 0.5;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 800;
    }
    
    .eyehide .eye-hide, .eyeshow .eye-show{
        display: block;//让对象成为块级元素
    }
      .eyehide .eye-show, .eyeshow .eye-hide{
        display: none;//此元素不会被显示 
    }
}
